body {
  font-family: "Source Sans Pro", sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.ant-layout {
  min-height: 100vh;
  width: 100%;
  margin-top: 0px;
}

.logo {
  height: 64px;
  margin: 0px;
  background: rgb(60, 248, 3);
}

.ant-menu {
  padding: 10px;
}

.fs-4-user {
  padding-top: -100px;
  font-size: 1.7em;
  cursor: pointer;
}

.fs-4-notification {
  font-size: 1.8em;
  cursor: pointer;
}

.fs-5-language {
  font-size: 1.4em;
  cursor: pointer;
}

.search-bar {
  margin-left: 60px;
  margin-top: -57px;
  width: 300px;
  height: fit-content;
  display: flex;
  background-color: #ebeff3;
  border-radius: 9px;
  gap: 3px;
  padding: 0.1rem 1.5rem;
}

fs-4 {
  font-size: large;
}